body{
  font-family: Tahoma, sans-serif, serif;
  font-size: larger;
  background-image: linear-gradient(90deg, rgba(27 , 27, 50, 0.8), rgb(60, 60, 50, 0.7)), url("https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg");
  color: hsl(183, 92%, 95%);
  height: 150vh;
  width: 100%;
  
}
#title, #description {
  text-align: center;
}
.italic {
  font-style: italic;
}

.form-container {
  min-width: 700px;
  max-width: 700px;
  margin: 0 auto;
  height: auto;
}
fieldset{
  border-radius: 15px;
  background-color: rgba(33, 53, 87, 0.831);
}
#dropdown{
  width: 101.5%;
  min-height: 35px ;
  font-size: 18px;
  margin: 0.5em auto;
}
label, input, select, #stay-left {
  width:90%;
  display: block;
  margin: 1.2em auto; 
  font-size: 20px;
}
input {
  width: 100%;
  min-height: 30px;
  margin: 0.5em auto;
}
#stay-left{
  text-align: left;
}
.stay-inline{
  display: block;
  margin-top: -20px;
  font-size: 18.5px;
}
input[type="radio"], input[type="checkbox"]{
  display: inline;
  margin-top: -20px;
  inline-size: 18px;
  vertical-align: sub;
}
textarea{
  display: block;
  margin-top: 10px ;
  width: 100%;
  font-size: 16px;
  height: 100px;
}
input[type="submit"]{
  margin-bottom: 40px;
  max-width: 90%;
  background-color: greenyellow;
  border-radius: 20px;
}